@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box; 
    list-style: none;
    text-decoration: none;  
  }
  body{ 
       /* background-color: black;*/
       
      }
  header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 90px;
    margin-right: 50px;
    background-color: transparent;
  }
  .logo {
    font-size: 1.2rem;
    font-weight: 600;
    color: palevioletred;
    font-family: "Great Vibes", cursive;
    font-size: 30px;
    cursor: default;
    margin-left: 40px;
    text-decoration: underline;
  }
  .navbar {
    display: flex;
  } 
  .navbar a {
    font-size: 1.2rem;
    padding: 10px 30px; 
    color: white;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
  }
  .navbar a:hover {
     color: aqua;
  }
  button{
    font-size: 25px;
    color: aqua;
    margin: 5px 10px 10px 20px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 10px;
    font-family: "Great Vibes", cursive;
    border-color: violet;
    font-weight: 20px;
    transition: 2s;
  }
  button:hover{
    background-color: white;
    color: black;
  }
  .title{
    background: url("./Images/Food\ bg2.jpg");
         background-size: cover;
         background-position: center;
         /* height: 100vh; */
  }
  .title h1{
        
        /* margin: 250px 800px 0px 250px; */
        padding-left: 100px;
        padding-top: 20px;
        padding-bottom: 10px;
        text-align: center;
        text-transform: uppercase;
        color: yellow;
        font-family: "Sedan SC", serif;
        font-weight: 800;
        font-size: 40px;
  }
  .title h1:hover{
    color: white;
  }
  .title button{
    margin-left: 380px;
    margin-top: 10px;
    background-color: red;
    color: aqua;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px 40px;
  }
  .title button:hover{
    background-color: azure;
    color: purple;
  }
  .About{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("./Images/Restuarant.jpg");
    height: 750px;
    margin: 100px 0px;
    background-size: cover;
  }
  .About h1{
    color: white;
    display: flex;
    margin-left: 500px;
    padding-top: 50px;
    font-size: 35px;
  }
  label{
    display: flex;
    justify-content: center;
    background-color: white;
    color: red;
    padding: 10px 20px;
    margin: 0px 550px;
  }
  .About p{
    /* background: none; */
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 30px;
  }
  .About img{
    margin-left: 50px;
    margin-bottom: 10px;
}
.About form{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.About form h2{
  margin-top: 2px;
}