@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box; 
    list-style: none;
    text-decoration: none;  
  }
  header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 90px;
    margin-right: 50px;
    background-color: transparent;
  }
  .logo {
    font-size: 1.2rem;
    font-weight: 600;
    color: aqua;
    font-family: "Great Vibes", cursive;
    font-size: 30px;
    cursor: default;
    margin-left: 40px;
    text-decoration: underline;
  }
  .navbar {
    display: flex;
  } 
  .navbar a {
    font-size: 1.2rem;
    padding: 10px 30px; 
    color: white;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
  }
  .navbar a:hover {
     color: aqua;
  }
  button{
    font-size: 25px;
    margin: 5px 10px 10px 20px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 10px;
    border-color: violet;
    font-weight: 20px;
  }
  button a{
    font-family: "Great Vibes", cursive;
    color: aqua;
  }
  button:hover{
    background-color: #ffff;
  }
  .title{
    background: url("./Images/Food\ bg2.jpg");
    background-size: cover;
    background-position: center;
    height: 700px;
  }
  .title h1{
        position: relative;
        top: 250px;
        right: 200px;
        justify-content: center;
        align-items: center;
        padding-left: 350px;
        text-transform: uppercase;
        color: yellow;
        font-family: "Sedan SC", serif;
        font-weight: 800;
        font-size: 40px;
  }
  .title h1:hover{
    color: white;
  }
  .title button{
    position: relative;
    top: 300px;
    margin-left: 380px;
    margin-top: 10px;
    background-color: red;
    color: aqua;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px 40px;
  }
  .title button:hover{
    background-color: azure;
    color: purple;
  }
  .About{
    background-image: linear-gradient(rgba(6, 80, 76, 0.5),rgba(241, 8, 106, 0.5)),url("./Images/Restuarant2.jpg");
    height: 750px;
    background-size: cover;
  }
  .About h1{
    color: white;
    display: flex;
    margin-left: 500px;
    padding-top: 50px;
    font-size: 35px;
  }
  label{
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    color: red;
    padding: 10px 20px;
    margin: 0px 550px;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid palevioletred;
    border-radius: 10px;
  }
  .About p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 30px;
  }
  .About img{
    position: relative;
    bottom: 450px;
    left: 50px;
    margin-left: 500px;
  }
 .About form{
    position: relative;
    top: 150px;
    width: 300px;
    height: 300px;
    background-color: rgba(0, 0, 0, .5);
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    word-spacing: 2px;
  }
  .About form p{
    margin-left: 10px;
  }
  .About ul{
    color: #ffff;
    background-color: rgba(0, 0, 0, .5);
    position: relative;
    left: 60%;
    bottom: 150px;
    width: 300px;
    height: 300px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    margin-left: 150px;
    padding-left: 50px;
    padding-right: 20px;
    text-align: justify;
  }
  .About ul li{
    font-family: 'Times New Roman', Times, serif;
    list-style: circle;
    color: rgb(245, 230, 19);
  }
  .menu{
    background-image: linear-gradient(rgba(255, 255, 255, 0.5),rgba(0, 0, 0, 0.5)),url("./Images/Black\ background.avif");
    height: 750px;
    background-size: cover;
  }
  .menu h1{
    color: red;
    font-family: "Sedan SC", serif;
    font-weight: 800;
    font-size: 40px;
    text-align: center;
    padding-top: 30px;
  }
  .menu .submenu{
    color: yellow;
    font-weight: bold;
    font-size: 20px;
    border: none;
    width: 100px;
    margin: 0px 600px;
  }
  .menu img{
    margin-left: 100px;
    margin-top: 40px;
  }
  .lunch{
    background-image: linear-gradient(rgba(255, 255, 255, 0.5),rgba(0, 0, 0, 0.5)),url("./Images/Black\ background.avif");
    height: 750px;
    background-size: cover;
  }
  .lunch img{
    margin-left: 100px;
    margin-top: 50px;
    padding-top: 20px;
  }
  .Reservation{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("./Images/Food\ bg3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
  }
  .Reservation form{
    background: linear-gradient(rgba(6, 80, 76, 0.5),rgba(241, 8, 106, 0.5)),url("./Images/Restuarant2.jpg");
    position: relative;
    top: 100px;
    width: 400px;
    height: 600px;
    border: 5px solid rgba(128, 27, 27, 0.5);
    border-radius: 30px;
    justify-content: center; 
    margin-left: 150px;
  }
  .Reservation h2{
    color: #ffff;
    font-family: "Sedan SC", serif;
    margin: 50px 100px 0px;
  }
  .Reservation input{
    height: 40px;
    width: 80%;
    margin-left: 40px;
    margin-top: 30px;
    padding-left: 15px;
    border-radius: 10px;
    background-color: black;
    color: #ffff;
    font-size: 16px;
    opacity: 0.5;
  }
  .Reservation button{
    margin-left: 130px;
    margin-top: 20px;
    border-color: darkcyan;
    color: yellow;
    background-color: rgba(235, 12, 12, 0.5);
  }
  .Reservation button:hover{
    background-color: white;
    color: black;
  }
  .Contact p{
    color: #ffff;
    background-image: linear-gradient(rgba(241, 10, 10, 0.5),rgba(241, 102, 9, 0.5));
    height: 450px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  .Contact p a{
    color: red;
    text-decoration: underline;
  }
  .Contact p a:hover{
    color: blue;
  }
  