@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}
/* Navbar starts here */
#navbar{
  background-color: #f9f9f9;
}
#logo{
  font-size: 36px;
  font-weight: 550;
  color: black;
  text-shadow: 0px 1px 1px black;
  margin-bottom: 5px;
}
#logo span{
  color: #ffa500;
}
.navbar-toggler span{
  color: #ffa500;
}
.navbar-nav{
  margin-left: 20px;
}
.nav-item .nav-link{
  font-size: 16px;
  font-weight: 550;
  color: black;
  letter-spacing: 1px;
  border-radius: 3px;
  transition: 0.5s ease;
}
.nav-item .nav-link:hover{
  background-color: #ffa500;
  color: white;
}
#navbar form button{
  background-color: #ffa500;
  color: white;
  border: none;
}
/* Navbar Ends here */

/* Home section starts here */
.home{
  width: 100%;
  height: 90vh;
  margin-top: 65px;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("./Images/Home\ BG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.home .content{
  text-align: center;
  padding-top: 200px;
}
.home .content h3{
  color: white;
  font-size: 38px;
  font-weight: 500;
  text-shadow: 0px 1px 1px black;
}
.home .content h1{
  color: white;
  font-size: 70px;
  font-weight: 550;
  text-shadow: 0px 1px 1px black;
  margin-top: 5px;
}
.changecontent::after{
  content: ' ';
  color: #ffa500;
  text-shadow: 0px 1px 1px black;
  animation: changetext 10s infinite linear;
  margin-left: 20px;
}
@keyframes changetext{
  0%{content: "France";}
  10%{content: "Spain";}
  20%{content: "United States";}
  30%{content: "China";}
  40%{content: "India";}
  50%{content: "Pakistan";}
  60%{content: "Italy";}
  70%{content: "Turkey";}
  80%{content: "Maxico";}
  90%{content: "Germany";}
  100%{content: "United Kingdom";}
}
.home .content p{
  color: white;
  font-size: 15px;
  font-weight: 600;
  text-shadow: 0px 1px 1px black;
  margin-bottom: 30px;
  margin-top: 5px;
}
.home .content a{
  padding: 10px;
  background: white;
  color: black;
  letter-spacing: 2px;
  font-weight: 550;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.5s;

}
.home .content a:hover{
  background-color: #ffa500;
  color: white;
}
@media (max-width:850px){
  .home{
    background-position: 50%;
  }
}
@media (max-width:450px){
  .home .content h3{
    font-size: 25px
  }
  .home .content h1{
    font-size: 38px;
  }
  .home .content p{
    font-size: 13px;
  }
}
/* Home section ends here */

/* Book section starts here */
.book{
  background: #f9f9f9;
  padding: 50px;
}
.main-text h1{
  text-align: center;
  text-shadow: 0px 1px 1px black;
  font-weight: 600;
}
.main-text h1 span{
  color: #ffa500;
}
.book .card{
  border-radius: 10px;
  box-shadow: 5px 5px 5px -3px black;
}
.box .row{
  margin-top: 30px;
}
.book form input{
  padding: 10px;
  color: black;
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px -6px black;
}
.book form textarea{
  border: none;
  border-radius: 10px;
  resize: none;
  box-shadow: 5px 5px 5px -6px black;
  height: 200px;
}
.book .submit{
  width: 160px;
  font-size: 16px;
  font-weight: 550;
  background: #ffa500;
  color: white;
  margin-top: 10px;
  transition: 0.5s;
}
.book .submit:hover{
  width: 170px;
}
@media (max-width: 765px){
  .book{
    padding: 0;
  }
  .main-text h1{
    padding: 20px;
  }
}
/* Book section ends here */




























/* :root{
  --dark-green: #112a34;
  --green-color: #004047;
  --white-color: #fff;
}
::selection{
  background: var(--green-color);
  color: var(--white-color);
}
html,body{
  width: 100%;
  height: 100%;
}
html{
  font-size: 90%;
}
section .home{
  padding: 1rem;
  width: 100%;
  height: 100vh;
}
.home .home-box{
  width: 97%;
  height: 600px;
  background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)),url("./Images/Home\ BG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin: 20px;
  border-radius: .5rem;
}
.home .home-box nav{
  width: 100%;
  height: 65px;
  background: linear-gradient(rgba(255,255,255,.2),rgba(255,255,255,.2));
  backdrop-filter: blur(1px);
  border-radius: .7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  z-index: 10;
  position: relative;
}
.home .home-box nav .logo{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.home .home-box nav .logo .bars{
  font-size: 1.35rem;
  color: var(--white-color);
  cursor: pointer;
}
.home .home-box nav .logo .bars:hover{
  color: var(--green-color);
}
.home .home-box nav .logo h3{
  color: var(--white-color);
  font-weight: 400;
}
.home .home-box nav .menu .close{
  display: none;
}
.home .home-box nav .menu ul{
  display: flex;
  gap: 3rem;
  list-style: none;
}
.home .home-box nav .menu ul li a{
  color: var(--white-color);
  font-weight: 400;
}
.home .home-box nav .menu ul li a:hover{
  color: rgb(255 255 255/70%);
}
.home .home-box nav .signup-login{
  display: flex;
  align-items: center;
  gap: .5rem;
}
.home .home-box nav .signup-login a{
  color: var(--white-color);
  padding: .3rem 1rem;
  border-radius: 2rem;
}
.home .home-box nav .signup-login a:last-child{
  background: var(--green-color);
  padding: .3rem 1rem;
  border-radius: 2rem;
}
.home .home-box nav .signup-login a:hover{
  color: rgb(255 255 255/70%);
}
.home .home-box nav .signup-login a:last-child:hover{
  color: var(--white-color);
  background-color: #02636e;
}
.home .home-box .content{
  width: 100%;
  height: calc(100% - 65px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translate(0, -65px);
}
.home .home-box .content h5{
  text-transform: uppercase;
  color: var(--white-color);
  font-size: .9rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.home .home-box .content h1{
  font-size: 4rem;
  max-width: 50rem;
  color: var(--white-color);
  text-align: center;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.home .home-box .content p{
  color: #eee;
  font-weight: 300;
  max-width: 40rem;
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 2rem;
}
.home .home-box .content .search{
  width: 100%;
  max-width: 38rem;
  height: 45px;
  background: var(--white-color);
  border-radius: 3rem;
  display: flex;
  align-items: center;
  padding: .3rem;
}
.home .home-box .content .search i{
  color: rgba(0,0,0,.5);
  margin: 0.6rem;
}
.home .home-box .content .search input{
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-weight: 400;
}
.home .home-box .content .search button{
  height: 100%;
  padding: 0 1rem;
  border-radius: inherit;
  background: var(--green-color);
  border: none;
  outline: none;
  color: var(--white-color);
  font-weight: 400;
  cursor: pointer;
}
.home .home-box .content .search button:hover{
  background-color: #02636e;
} */

/* Travel section starts here */
/* .travel .container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  padding: 5rem 0;
}
.travel .container .box{
  padding: 0 1rem;
  text-align: center;
  max-width: 30rem;
}
.travel .container .box h4{
  font-size: 1.2rem;
  margin: 1rem 0;
  margin-top: 2rem;
  font-size: 600;
}
.travel .container .box p{
  color: #666;
  line-height: 2rem;
} */

/* Travel section ends here */

/* Media section starts here */
/* @media (max-width:1020px){
  html{
    font-size: 85%;
  }
  section{
    padding: 0 2rem;
  }
}
@media (max-width:910px){
  .home .home-box nav{
    padding: 0 1rem;
  }
  .home .home-box nav .menu ul{
    gap: 2rem;
  }
}
@media (max-width:767px){
  .home .home-box nav .menu{
    display: none;
  }
  .home .home-box nav .logo .bars{
    display: block;
  }
  .home .home-box nav .menu.active{
    display: block;
    position: absolute;
    left: -1.5rem;
    top: -1.5rem;
    width: 100vw;
    height: 100vh;
    background: rgb(0 0 0/90%);
    display: flex;
    align-items: center;
    padding: 0 3rem;
  }
  .home .home-box nav .menu .close{
    display: block;
    position: absolute;
    left: 3rem;
    top: 3rem;
    cursor: pointer;
    color: var(--white-color);
    font-size: 2rem;
  }
  .home .home-box nav .menu .close:hover{
    color: rgba(255 255 255/40%);
  }
  .home .home-box nav .menu ul{
    flex-direction: column;
    font-size: 1.3rem;
    gap: 1rem;
  }
  .home .home-box nav .menu ul:hover li a{
    color: rgba(255 255 255/40%);
  }
  .home .home-box nav .menu ul li a:hover{
    color: var(--white-color);
  }
  .home .home-box .content{
    padding: 2rem;
  }
  .travel .container{
    flex-direction: column;
    padding: 4rem 0;
    gap: 4rem;
  }
  .travel .container .box{
    height: 6rem;
  }
}

@media (max-width: 607px){
  .home .home-box .content h1{
    font-size: 2rem;
  }
  
  .home .home-box .content p{
    font-size: .8rem;
  }
} */
/* Media section ends here */














